<header>
    <div class="logo"><img src="logo.png" alt="logo"></div>
    <nav>
        <ul id="navbar">
            <li class="navitem">
                <a href="/home">Home</a>
            </li>
            <li class="navitem">
                <a href="/contact-us">Contact Us</a>
            </li>
            <li class="navitem" id="se-bar">
                <div class="search" id="search-container">
                    <input type="text" id="search-item" placeholder="search here....." onkeyup="search_place()">
                    <ul id="search-list">
                        <li class="places"><a href="#mount_fuji">Mount fuji</a></li>
                        <li class="places"><a href="#tokyo_tower">Tokyo tower</a></li>
                        <li class="places"><a href="#tokyo_disneyland">Tokyo Disneyland</a></li>
                        <li class="places"><a href="#osaka_castle">Osaka Castle</a></li>
                        <li class="places"><a href="#tempozan">Tempozan faint ferris wheel</a></li>
                        <li class="places"><a href="#osaka_aquarium">Osaka aquarium</a></li>
                        <li class="places"><a href="#asakusa">asakusa</a></li>
                        <li class="places"><a href="#takachiho">Takachiho Gorge</a></li>
                        <li class="places"><a href="#Nakanoshima">Nakanoshima park</a></li>
                        <li class="places"><a href="#Fukuoka">Fukuoka Castle</a></li>
                        <li class="places"><a href="#tottori">Tattori sand dunes</a></li>
                        <li class="places"><a href="#kyushu">Kyushu National museum</a></li>
                        <li class="places"><a href="#itsukushima">The Island shrine of Itsukushima</a></li>
                        <li class="places"><a href="#jigokudani">Jigokudani</a></li>
                        <li class="places"><a href="#kabira">Kabira Bay</a></li>
                        <li class="places"><a href="#akiyoshido">Akiyoshido cave</a></li>
                        <li class="places"><a href="#mount_aso">Mount aso</a></li>
                        <li class="places"><a href="#nachi">Nachi waterfall</a></li>
                        <li class="places"><a href="#atsuta">Atsuta shrine</a></li>
                        <li class="places"><a href="#yakushima">Yakushima Island</a></li>
                        <li class="places"><a href="#chubu">Chubu sangaku National park</a></li>
                        <li class="places"><a href="#kenrokuen">Kenrokuen garden</a></li>
                        <li class="places"><a href="#shirogane">Shirogane blue pond</a></li>
                        <li class="places"><a href="#noboribetsu">Noboribetsu Hot spring</a></li>
                        <li class="places"><a href="#hida">Hida Takayama</a></li>
                        <li class="places"><a href="#buddha">Big Buddha statues</a></li>
                    </ul>
                </div>
            </li>
            <li class="navitem rightside">
                <a href="/login">Login</a>
            </li>
            <li class="navitem rightend">
                <div id="google_translate_element">
                </div>
            </li>
        </ul>
    </nav>
</header>