<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="contactus.css">
    <title>Travel guru -contact us</title>
</head>
<body>
    <div class="container1">
        <a href="/"><div class="logo">
            <img src="conclogo.png" alt="logo">
            <span>Travel Guru</span>
        </div></a>
    </div>
    <div class="details">
        <div class="info">
            <ul>
                <li class="title">CONTACT US</li>
                <li>(123) 456 7890</li>
                <li>escanor1235@proton.me</li>
            </ul>
        </div>
        <div class="info">
            <ul>
                <li class="title">OUR LOCATION</li>
                <li>123 Anywhere St., Any City</li>
                <li>State, Country 12345</li>
            </ul>
        </div>
        <div class="info">
            <ul>
                <li class="title">FOLLOW US ON</li>
                <li>@travelguru</li>
            </ul>
        </div>
    </div>
</body>
</html>