<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cover.css">
    <script defer src="https://kit.fontawesome.com/acafe4ef8e.js" crossorigin="anonymous"></script>
    <script defer src="cover.js"></script>
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <title>Travel Guru</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
    <div class="title">
        <span id="travelguru">Travelguru</span>
        <span id="sub-title">A Reliable Guide</span>
        <span id="explore"><a href="/home">Explore Now!</a></span>
    </div>
</body>

</html>