@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Allura&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
/*nav bar*/
*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-image: url("background_confirm.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
header
{
    display:flex;
    align-items: center;
    gap: 2rem;
    margin: 1rem;
    padding: 0.2rem;
    background-color: rgba(0,0,0,0.4);
    position: sticky;
}
header img
{
    max-height: min(40vh,4rem);
    max-width: min(40vw,4rem);
}
nav ul
{
    list-style-type: none;
    display:flex;
    gap: min(20vw,2rem);
}
.navitem a
{
    text-decoration: none;
    color: white;
    font-size: clamp(1rem, 1.3vw,2rem);
    font-family: 'Merriweather', serif;
}
.navitem input
{
    padding: .4rem;
    border-radius: .2rem;
}
.fa-magnifying-glass
{
    background-color: white;
    border-radius: 3rem;
    padding: .4rem;
}
#se-bar
{
    position: absolute;
    left: 45%;
    display: flex;
    align-items: center;
    gap :.3rem;
}
.rightside
{
    position: absolute;
    right: 15%;
}
.rightend
{
    position: absolute;
    right: 2%;
}
#se-bar{
    display:none
}
/* translate element */
.goog-te-combo
{
    color:white;
    cursor: pointer;
    background-color: transparent;
}
.goog-te-combo option
{
    color: black;
}
.goog-te-gadget {
    color: white !important;
}
.goog-te-gadget span a{
    color: white !important;
}
/* title div */
.title
{
    display: flex;
    flex-direction: column;
    color: white;   
    align-items: flex-end;
    margin: 5%;
}
#travelguru
{
    font-size:600%;
    font-family: 'Allura', cursive;
}
#sub-title
{
    font-size: 150%;
    font-family: 'Allerta Stencil', sans-serif;
}
#explore
{
    border:2px solid white;
    padding: 0.6%;
    border-radius: 50px;
    margin: 2%;
    min-width: max-content;
}
#explore :hover 
{
    color: black;
}
#explore a
{
    color: white;
    text-decoration: none;
}
#exarrow
{
    margin-left: 15%;
}
