@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
}
body
{
    overflow: hidden;
}
header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    margin: 1rem;
    padding: 0.2rem;
    background-color: rgba(0, 0, 0, 0.4);
    position: sticky;
    top: 0;
}

header img {
    max-height: min(40vh, 4rem);
    max-width: min(40vw, 4rem);
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: min(20vw, 2rem);
}
.navitem a {
    text-decoration: none;
    color: white;
    font-size: clamp(1rem, 1.3vw, 2rem);
    font-family: 'Merriweather', serif;
}

.navitem input {
    padding: .4rem;
    border-radius: .2rem;
}

.rightside {
    position: absolute;
    right: 20%;
}

.rightend {
    position: absolute;
    right: 5%;
}

/* search */
#se-bar {
    position: absolute;
    left: 45%;
    display: flex;
    align-items: center;
    gap: .3rem;
}

.search input {
    width: 17vw;
}

#search-list {
    max-height: 43vh;
    overflow-y: scroll;
    position: absolute;
    left: -4;
    margin-top: .5vh;
    padding: 8px;
    border-radius: 10px;
    background-color: whitesmoke;
    transition: max-height 0.2s ease-out;
}

.places a:hover {
    background-color: bisque;
}
#no-result
{
    display: none;
}
#search-list{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
#search-list::-webkit-scrollbar {
    display: none;
}
#close
{
    display:none;
    position: relative;
    left: -25;
    background-color: transparent;
    border:none;
    cursor:pointer;
}
#close i
{
    font-size: larger;
}
.places a {
    display: inline-block;
    min-width: 18vw;
    max-width: fit-content;
    text-decoration: none;
    padding: 3px;
    font-size: larger;
    color: black;
}
/* translate element */
.goog-te-combo {
    color: white;
    cursor: pointer;
    background-color: transparent;
}

.goog-te-combo option {
    color: black;
}

.goog-te-gadget {
    color: white !important;
}

.goog-te-gadget span a {
    color: white !important;
}



body {
    background: url("homeback.webp");
    padding: 20px;
    font-family: Arial;
}

.content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 18px;
    column-gap: 2vw;
}

.content img {
    max-height: 50vh;
    max-width: 40vw;
    grid-row-start: 1;
    grid-row-end: 3;
}

.content h3 {
    align-self: center;
    padding: 3px;
}

.content p {
    align-self: start;
    font-size: large;
    padding: 10px;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

.center {
    margin: 3vh auto;
    /* width: fit-content; */
    max-width: 90vw;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row>.column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
#cards
{
    max-height:  80vh;
    overflow: scroll;
}
#cards::-webkit-scrollbar{
    display:none;
}
.center a
{
    text-decoration: none;
    color: black;
}